{
  "presets": [
    ["env", {
      "targets": {
        "node": 8,
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread"
  ]
}
